<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.laojiang.imagepickers">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <provider
            android:name=".utils.ImagePickerFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/imagepicker_path"/>
        </provider>

        <activity
            android:name=".ui.grid.view.ImageDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".ui.pager.view.ImagePagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".ui.crop.ImageCropActivity">
        </activity>
        <activity android:name=".ui.video.VideoDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ui.camera.DiyCameraActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"></activity>
    </application>

</manifest>
